.container {
  text-align: center;
}

.progressBarContainer {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.progressBar {
  /* width: 75%; */
  background-color: green;
  /* color: white; */
}
